@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* global.css or tailwind base */
html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
}



/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* Borders should adapt to dark mode */

/* Inputs and buttons */
.search-input {
  @apply border-0 border-b border-gray-600 bg-transparent focus:outline-none;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.fixed-fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c; /* dark gray */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Optional: prevent horizontal scroll */
.sidebar {
  transition: transform 0.5s ease-in-out;
}
